@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext,latin-ext)

$east_bay: #445893
$alto: #dedede

html
  position: relative
  min-height: 100%
body
  margin-bottom: 100px
.footer
  position: absolute
  left: 0
  bottom: 0
  height: 100px
  width: 100%
  background: $east_bay
  color: $alto
  font-family: 'Roboto'
  font-weight: 400
  p
    padding-top: 38px

body
  background-color: #fff
  font: 14px/24px Arial
  color: #000

.header
  background: $east_bay
  font-family: 'Roboto'
  font-weight: 300
  color: $alto
.name-big
  font-size: 30px
  line-height: 30px
  padding: 20px 0 4px
.name-small
  font-size: 18px
  padding-bottom: 19px
.visual
  display: block
