html
  position: relative
  min-height: 100%
body
  margin-bottom: 100px
.footer
  position: absolute
  left: 0
  bottom: 0
  height: 100px
  width: 100%
  background: #333


body
  background-color: #fff
  font: 14px/24px Arial
  color: #000
