@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext,latin-ext)

*
  box-sizing: border-box

strong, b
  font-weight: bold

$east_bay: #445893
$alto: #dedede
$silver: #ccc
$gallery: #eee
$midnight_blue: #003366
$white: #fff

html
  position: relative
  min-height: 100%
body
  margin-bottom: 100px
.footer
  position: absolute
  left: 0
  bottom: 0
  height: 100px
  width: 100%
  background: $east_bay
  color: $alto
  font-family: 'Roboto'
  font-weight: 400
  p
    padding-top: 38px

body
  background-color: #fff
  font: 14px/24px Arial
  color: #000

.header
  background: $east_bay
  font-family: 'Roboto'
  font-weight: 300
  color: $alto
.name-big
  font-size: 30px
  line-height: 30px
  padding: 20px 0 4px
.name-small
  font-size: 18px
  padding-bottom: 19px
.visual
  display: block

.main-menu
  font-family: 'Roboto'
  font-weight: 400
  padding-top: 31px
  li
    font-size: 16px
    line-height: 18px
    padding: 10px 0
    border-bottom: 1px dotted $silver
  a
    color: $midnight_blue
    text-decoration: none

.content
  padding-top: 30px
  h1
    font-family: 'Roboto'
    font-weight: 300
    font-size: 36px
    margin-bottom: 20px
  h2
    font-family: 'Roboto'
    font-weight: 400
    font-size: 24px
    line-height: 24px
    margin-bottom: 18px
  p
    margin-bottom: 28px
  p + ul,
  p + ol
    margin-top: -22px
  ul
    margin-bottom: 28px
    li
      position: relative
      padding-left: 46px
      margin-bottom: 6px
      &:before
        content: "—"
        position: absolute
        width: 40px
        left: 0
        text-align: right
  ol
    margin-bottom: 28px
    padding-left: 46px
    list-style-type: decimal
    li
      margin-bottom: 6px
  iframe
    width: 100%
    max-width: 100%

  table
    margin-bottom: 40px
    line-height: 18px
    tr:nth-child(2n+1)
      background: $gallery
    th
      background: $east_bay
      color: $white
      text-align: left
      text-transform: uppercase
      padding: 14px 10px
    td
      padding: 10px


.news-list
  margin-bottom: 40px
.news-item
  margin-bottom: 28px
  line-height: 18px
.news-item-header,
.news-item-date
  font-weight: bold
  font-style: italic
.news-item-header
  margin-bottom: 4px

.photoalbum
  margin-bottom: 28px
