@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext,latin-ext);

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: #445893;
  color: #dedede;
  font-family: "Roboto";
  font-weight: 400;
}

.footer p {
  padding-top: 38px;
}

body {
  background-color: white;
  font: 14px/24px Arial;
  color: black;
}