@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext,latin-ext);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: #445893;
  color: #dedede;
  font-family: "Roboto";
  font-weight: 400;
}

.footer p {
  padding-top: 38px;
}

body {
  background-color: white;
  font: 14px/24px Arial;
  color: black;
}

.header {
  background: #445893;
  font-family: "Roboto";
  font-weight: 300;
  color: #dedede;
}

.name-big {
  font-size: 30px;
  line-height: 30px;
  padding: 20px 0 4px;
}

.name-small {
  font-size: 18px;
  padding-bottom: 19px;
}

.visual {
  display: block;
}

.main-menu {
  font-family: "Roboto";
  font-weight: 400;
}

.main-menu li {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 0;
  border-bottom: 1px dotted #cccccc;
}

.main-menu a {
  color: #003366;
  text-decoration: none;
}