!!!
html
  head
    include _shared/_head
  body
    include _shared/_header
    .container
      .row
        .col-md-3
          nav.main-menu
            ul
              li
                a(href="#") Общие сведения
              li
                a(href="#") Новости
              li
                a(href="#") История кафедры
              li
                a(href="#") Контакты
              li
                a(href="#") Выпускники
              li
                a(href="#") Научная деятельность
              li
                a(href="#") Сотрудники
              li
                a(href="#") Студенческий научный кружок
              li
                a(href="#") Учебная работа
              li
                a(href="#") Расписание
              li
                a(href="#") Список учебной литературы
              li
                a(href="#") Перечень вопросов к итоговому контролю
              li
                a(href="#") Перечень практических навыков и умений
              li
                a(href="#") Программа вступительного экзамена в ординатуру по функциональной диагностике
              li
                a(href="#") Фотоальбом
              li
                a(href="#") Медицинский факультет ЧГУ
        .col-md-9

    include _shared/_footer
