!!!
html
  head
    include _shared/_head
  body
    include _shared/_header
    .container
      .row
        .col-md-3
          nav.main-menu
            ul.menu-slider
              li
                a(href="#") Меню
            ul.menu-content
              li
                a(href="#") Общие сведения
              li
                a(href="#") Новости
              li
                a(href="#") История кафедры
              li
                a(href="#") Контакты
              li
                a(href="#") Выпускники
              li
                a(href="#") Научная деятельность
              li
                a(href="#") Сотрудники
              li
                a(href="#") Студенческий научный кружок
              li
                a(href="#") Учебная работаd
              li.active
                a(href="#") Расписание
              li
                a(href="#") Список учебной литературы
              li
                a(href="#") Перечень вопросов к итоговому контролю
              li
                a(href="#") Перечень практических навыков и умений
              li
                a(href="#") Программа вступительного экзамена в ординатуру по функциональной диагностике
              li
                a(href="#") Фотоальбом
              li
                a(href="#") Медицинский факультет ЧГУ
        .col-md-9
          .content
            h1 Общие сведения
            p Инструментальная диагностика — один из наиболее быстро развивающихся разделов медицины. Возможности инструментальных методов обследования кажутся почти безграничными и представляют врачу объемную информацию о состоянии пациента. К сожалению, эффективность использования этой информации бывает низкой из-за неумения врача ориентироваться в широком спектре назначений, сложности интерпретации результатов.
            p Элементы функциональной и лабораторной диагностики преподаются на младших курсах, начиная с кафедры нормальной физиологии, пропедевтики внутренних и детских болезней. Однако на этом этапе студенты не могут применять полученные знания для постановки точного диагноза, проведения дифференциальной диагностики, определения течения заболевания, поскольку не обладают достаточными клиническими знаниями. На кафедрах старших курсов функциональные методы диагностики зачастую лишь перечисляются (упоминаются) в диагностическом алгоритме конкретной нозологии. А ознакомление студентов с современными и новейшими методиками требует дополнительного времени и оснащения. В связи с этим логичен вопрос о сосредоточении преподавания инструментальной диагностики на отдельной специализированной кафедре. Подобные кафедры существовали ранее только в системе постдипломного образования при ГИДУВах и факультетах повышения квалификации, готовили узких специалистов функциональной и лабораторной диагностики, не затрагивая врачей общей практики.
            h2 Структура кафедры
            .row
              .col-md-4
                img(src="http://lorempixel.com/400/300", width="100%")
              .col-md-8
                p
                  b Инструментальная диагностика&nbsp;
                  – один из наиболее быстро развивающихся разделов медицины. Возможности инструментальных методов обследования кажутся почти безграничными и представляют врачу объемную информацию о состоянии пациента. К сожалению, эффективность использования этой информации бывает низкой из-за неумения врача ориентироваться в широком спектре назначений, сложности интерпретации результатов.
            p Целью изучения клинической лабораторной диагностики является обучение студентов современным стандартам назначения лабораторных исследований при определенных заболеваниях, наиболее полной интерпретации получаемых данных, основанной на понимании этиологии и патогенеза болезней, а также знакомство с возможностями современных лабораторных технологий.
            p Основными задачами изучения дисциплины «Клиническая лабораторная диагностика» являются:
            ul
              li ознакомить студентов с современными методами лабораторной диагностики;
              li научить студентов правильному подходу к исследованию того или иного обмена веществ, отдельных синдромов и нозологических форм, опираясь на знания биохимии, нормальной и патологической физиологии, терапии;
              li научить логичному и адекватному назначению анализов и лабораторных тестов;
              li научить правильно интерпретировать полученные лабораторные данные для постановки диагноза, характеристики формы, тяжести течения и определения прогноза болезни, подбора этиологической и патогенетической терапии;

            p Целью изучения клинической лабораторной диагностики является обучение студентов современным стандартам назначения лабораторных исследований при определенных заболеваниях, наиболее полной интерпретации получаемых данных, основанной на понимании этиологии и патогенеза болезней, а также знакомство с возможностями современных лабораторных технологий.
            ol
              li ознакомить студентов с современными методами лабораторной диагностики;
              li научить студентов правильному подходу к исследованию того или иного обмена веществ, отдельных синдромов и нозологических форм, опираясь на знания биохимии, нормальной и патологической физиологии, терапии;
              li научить логичному и адекватному назначению анализов и лабораторных тестов;
              li научить правильно интерпретировать полученные лабораторные данные для постановки диагноза, характеристики формы, тяжести течения и определения прогноза болезни, подбора этиологической и патогенетической терапии;

            h2 Новости
            .news-list
              .news-item
                .news-item-date 09.06.2014
                .news-item-header График проведения дополнительных занятий на кафедре функциональной и лабораторной диагностики
                .news-item-body
                  Проф. Стручко Г.Ю. – среда, 16.00-17.00, патоанатомический корпус, учебная комната №6.
                  br
                  Доц. Михайлова И.В. – среда, 11.30.-13.30, РДЦ, каб. 415 или учебная комната, 7 этаж.
                  br
                  Доц. Стоменская И.С. – вторник, 11.30.-13.00, РДЦ, каб. 415 или учебная комната, 7 этаж.
                  br
                  Доц. Агафонкина Т.В. – среда, 11.30.-13.30, РДЦ, каб. 415 или учебная комната, 7 этаж.
                  br
                  Асс. Кострова О.Ю. – вторник, 11.30-13.30, РДЦ, каб. 415 или учебная комната, 7 этаж.
              .news-item
                .news-item-date 09.06.2014
                .news-item-header Ускоряющийся интеграл от переменной величины — актуальная национальная задача
                .news-item-body Если пренебречь малыми величинами, то видно, что управление полётом самолёта стабилизирует небольшой гирогоризонт, что обусловлено существованием циклического интеграла у второго уравнения системы уравнений малых колебаний. В самом общем случае вращение велико. ПИГ, несмотря на внешние воздействия, определяет центр подвеса, исходя из суммы моментов. Ось собственного вращения, в первом приближении, даёт большую проекцию на оси, чем небольшой центр подвеса, что явно следует из прецессионных уравнений движения.

            h2 Контакты
            p
              b Адрес:
              |&nbsp;428015 Чувашская Республика, г. Чебоксары, Московский пр., 19/4
              br
              b Телефоны:
              br
              &nbsp;&nbsp;&nbsp;&nbsp; зав. кафедрой: (8352) 58-66-58
              br
              &nbsp;&nbsp;&nbsp;&nbsp; преподаватели: (8352) 58-66-58
              br
              b E-mail:
              a(href="mailto:glebstr@mail.ru") glebstr@mail.ru
            p
              a#firmsonmap_biglink(href='http://maps.2gis.ru/#/?history=project/cheboksary/center/47.218516942372,56.14488990889/zoom/17/state/widget/id/7459615163813022/firms/7459615163813022') Перейти к большой карте
              script(charset='utf-8', type='text/javascript', src='http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js')
              script(charset='utf-8', type='text/javascript')
                new DGWidgetLoader({"borderColor":"#a3a3a3","width":"900","height":"600","wid":"a31aa08143f651c4d7bf938a923a105a","pos":{"lon":"47.218516942372","lat":"56.14488990889","zoom":"17"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings"],"city":"cheboksary"},"org":[{"id":"7459615163813022"}]});
              noscript(style='color: #c00; font-size: 16px; font-weight: bold;') Виджет карты использует JavaScript. Включите его в настройках вашего браузера.


            h2 Выпускники кафедры функциональной и лабораторной диагностики
            table
              tr
                th №
                th ФИО
                th Год выпуска
                th Специальность
                th Место работы
              tr
                td 1
                td Стоменская Ирина Станиславовна
                td 2000
                td Функциональная диагностика
                td Кафедра функциональной и лабораторной диагностики, доцент
              tr
                td 2
                td Кузьмина Валентина Александровна
                td 2000
                td Функциональная диагностика
                td Пакистан, врач-кардиолог клинической больницы г.Карачи
              tr
                td 3
                td Иванова Надежда Николаевна
                td 2002
                td Функциональная диагностика
                td Президентский перинатальный центр,врач кабинета ультразвуковой диагностики
              tr
                td 4
                td Агафонкина Татьяна Всеволодовна
                td 2003
                td Функциональная диагностика
                td Германия, врач отделения функциональной диагностики

            h2 Сотрудники кафедры
            .person-list
              .person-item
                .row
                  .col-md-3.person-info
                    img(src="http://lorempixel.com/300/400", width="100%")
                    p
                      b Стручко Глеб Юрьевич
                    p
                      заведующий кафедры функциональной и лабораторной диагностики
                      br
                      br
                      доктор медицинских наук профессор
                  .col-md-9
                    .person-content
                      p Стручко Глеб Юрьевич, 1974 года рождения. В 1991 году закончил СОШ №45 г. Чебоксары. В 1997 году Стручко Г.Ю. В 1997г. окончил педиатрический факультет Чувашского государственного университета им. И.Н.Ульянова с отличием. В 1997 году впервые в университете (и впервые в системе вузовского медицинского образования России) была создана кафедра функциональной и лабораторной диагностики. Стручко Г.Ю. принимал самое активное участие в формировании, становлении и работе кафедры функциональной и лабораторной диагностики. Прошел путь от ассистента до заведующего кафедрой. В 1999 году успешно защитил кандидатскую диссертацию (г. Чебоксары), а затем – докторскую в 2003 году (г. Саранск) на тему "Морфофункциональное исследование тимуса и иммунобиохимических показателей крови после спленэктомии и иммунокоррекции". С 2002 года Стручко Г.Ю. является параллельно доцентом, а с 2004 года – профессором кафедры нормальной анатомии. В 2002 году Стручко Г.Ю. закончил Чувашский педагогический университет им. И.Я. Яковлева и получил второе высшее образование преподавателя английского языка. В 2007 году Стручко Г.Ю. окончил юридический факультет Чувашского государственного университета им. И.Н.Ульянова по специальности «Юриспруденция». С ноября 2009 - заведующий кафедрой функциональной и лабораторной диагностики. С июня 2010 - заместитель декана медицинского факультета Чувашского государственного университета по учебной работе.
                      p Стручко Г.Ю. опубликовано около 140 печатных работ, из них 1 монография, 9 учебно-методических пособия. Под руководством Стручко Г.Ю. выиграно 2 гранта Президента РФ в 2005 и 2008 гг. и грант Министерства образования и науки РФ в 2010 году, кроме того, ведутся научно-исследовательские работы в рамках тематического плана вуза.

            h2 Фотоальбом
            .photoalbum
              .row
                .col-md-4
                  img(src="http://lorempixel.com/400/300", width="100%")
                .col-md-4
                  img(src="http://lorempixel.com/400/300", width="100%")
                .col-md-4
                  img(src="http://lorempixel.com/400/300", width="100%")

    include _shared/_footer
