.header
  .container
    .row
      .col-xs-12
        .name-big Кафедра функциональной и лабораторной диагностики
        .name-small ФГБОУ ВПО Чувашский государственный университет им. И.Н.Ульянова
        img.visual(src="img/visual.jpg", width="100%")
